@mixin flexCenter($direction) {
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: $direction;
}


.headerContainer {
   @include flexCenter(column);
   width: 100%; 
   background: pink;
}